@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>אודות</h1>
    <article class="p">
                <br><br>
                הבלוג הטכני מיסודם של החברות HTTP ויצקובץ ובניו, נועד לתת שירות לציבור בתחומי הידע של מידע טכני על מגוון רחב של עבודות אותם אנו מבצעים,
                הבלוג הוא נטול אינטרסים מסחריים ואין בו חנות, אנו ממליצים לעבוד אך ורק איתנו, פשוט כי אנו הכי טובים וזה לתועלת הציבור
                <br><br>
                הבלוג יעסוק בשאלות הרות משקל כגון:
                <ul>
                    <li> מה סוג המקדחה הנכון לרכישה?</li>
                    <li>איך בוחרים פועל אמין</li>
                    <li>מה זה בטון מזוין</li>
                    <li>ומהו ניסור ביטון יהלום?</li>
                    <li>האם אפשר לבודד כהוגן את הבית בבנייה שלי, ואיך?</li>
                    <br>וכדומה...
                </ul>
                <a asp-controller="Messages" asp-action="Create">צור קשר</a> לטובתך בלבד, עוד היום...
    </article>
</div>
