@model IEnumerable<BlogVer2.Post>
@{
    ViewData["Title"] = "דף בית";
}
@{
    if (Model.Count<Post>() > 0)
    {

        Post item = Model.Last<Post>();// ElementAt<Post>(Model.Count<Post>() - 1);
        <div class="p">
            <h1>הבלוג הטכני</h1>
            <h2>@item.Title</h2>
            <article>
                <p>@Html.Raw(item.BodyText)</p>
            </article>
            <hr>
                    <hr>
                    <span>פוסטים ישנים יותר:</span><br>
                    <h3>
                

            <article>
                <div class="row justify-content-between" style="background-color: transparent;height: 60px;">
                    <div class="col-1 text-center" style="border: 1px dotted orange;">
                        next
                    </div>

                    
                    @foreach (var post in Model.Take(3))
                    {
                        <div class="col-3" style="border: 1px dotted orange;">
                            <h3 style="overflow: hidden;">@post.Title</h3>
                            <h6 style="overflow: hidden;">@post.BodyText</h6>
                        </div>


                    }
                    <div class="col-1 text-center" style="border: 1px dotted orange;">
                        back
                    </div>
                </div>

</article>

            </div>

    }
}

