@model IEnumerable<BlogVer2.Post>
@{
    ViewData["Title"] = "דף בית";
}
@{
    if (Model.Count<Post>() > 0)
    {

        Post item = Model.Last<Post>();// ElementAt<Post>(Model.Count<Post>() - 1);
        <div class="p">
            <h1>הבלוג הטכני</h1>
            <h2>@item.Title</h2>
            <article>
                <p>@Html.Raw(item.BodyText)</p>
            </article>
            <hr>
                    <hr>
                    <span>פוסטים ישנים יותר:</span><br>
                    <h3>
                

            <article>
                <div class="row justify-content-between" style="background-color: wheat;height: 100px;">
                        <div class="col-1" style="border: 1px dotted orange;">
                        </div>

               @*/כאן יש להכניס את התוצאה של הכפתור פוסטים ישנים של ר' יואל/*@
                   @for (int i=0 ; i < Model.Count<Post>()-1 && i<4; i++) 
                {
                <div class="col-3" style="border: 1px dotted orange;">
                  

                </div>
                   
                }
                   
            </article>

            </div>

    }
}

