@{
    ViewData["Title"] = "Home Page";
}

<div class="p">
    <h1 class="display-4">פוסט ראשון</h1>
    <p>תוכן</p>
    <h3 class="display-4">פוסט ישן</h3>
    <p>תוכן</p>
    <h3 class="display-4">פוסט ישן</h3>
    <p>תוכן</p>
    <h3 class="display-4">פוסט ישן</h3>
    <p>תוכן</p>
</div>


