@model BlogVer2.User

@{
    ViewData["Title"] = "כניסה";
}

<h1>כניסה</h1>

<hr />
<article>
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" >

                <label class="control-label">שם</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">סיסמה</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
</article>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
