@model Post

@{
    ViewData["Title"] = "פרסם פוסט חדש";
}

<h1>פרסם פוסט חדש</h1>
<hr />
<div>
    <article class="p newPost">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="PublishDate"></label>
                <input asp-for="PublishDate" />
                <span asp-validation-for="PublishDate"></span>
            </div>
            <br>
            <div>
                <label asp-for="Title"></label>
                <input asp-for="Title" />
                <span asp-validation-for="Title"></span>
            </div>
            <br>
            <div>
<textarea asp-for="BodyText" placeholder="הזן כאן את הפוסט"></textarea>
                <span asp-validation-for="BodyText"></span>
            </div>
            <div>
                <input type="submit" value="צור" class="btn btn-primary" />
            </div>
        </form>
    <br>
    <a asp-action="Index">חזור לרשימת הפוסטים</a>
</div>
</article>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
