@model BlogVer2.Post

@{
    ViewData["Title"] = "Edit";
}

<h1>ערוך פוסט</h1>

<hr />
<div class="row">
    <article>
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="PublishDate" class="control-label"></label>
                    <input asp-for="PublishDate" class="form-control" />
                    <span asp-validation-for="PublishDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BodyText" class="control-label"></label>
                    <input asp-for="BodyText" class="form-control" />
                    <span asp-validation-for="BodyText" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </article>
</div>

<div>
    <a asp-action="Index">חזור לרשימת הפוסטים</a>
</div>

